# {{ Name }}
subnet {{ Network }} netmask {{ Netmask }}  {
    option subnet-mask {{ Netmask }} ;
    option routers {{ Gateway }};
    option domain-name "pp25.polarparty.no";
    ddns-domainname "pp25.polarparty.no";
    range {{ Start }} {{ End }};
}
