delete interfaces ge-0/0/{{ Port - 1 }} unit 0 family ethernet-switching
set interfaces ge-0/0/{{ Port - 1 }} unit 0 description {{ Name }}
set interfaces ge-0/0/{{ Port - 1 }} unit 0 family inet address {{ Gateway }}/27

